h1 {
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 1em;
  padding: 0 10px;
  margin: 0 20px;
  border-right: 1px solid white;
  a:hover {
    text-decoration: none;
    text-shadow: 4px 0 gray;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5vw;
  margin-top: 20px;
  flex-wrap: wrap;
}

@media (max-width: 480px) {
  header {
    justify-content: center;
  }
  h1 {
    border-right: none;
  }
  p {
    font-size: .8em;
    opacity: .4;
  }
}
