ul.cards {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  flex-wrap: wrap;
  max-width: 80%;
  margin: auto;
}

li.card {
  margin: 20px;
  width: calc(40% - 40px);
  max-width: calc(100% - 40px);
  flex-grow: 1;
  min-width: 320px;
}

li.card:first-child {
  flex: 1 100%;
}
