ul.cards {
  display: flex;
  justify-content: flex-start;
  padding: 50px 0;
  flex-wrap: wrap;
  max-width: 80%;
  margin: auto;
}

li.card {
  margin: 20px;
  width: calc(33% - 40px);
  max-width: calc(100% - 40px);
  min-width: 320px;
}

@media (max-width: 969px) {
  li.card {
    width: calc(100% - 40px);
  }
}
