@import '../assets/scss/core.scss';

body {
  background: black;
  color: white;
  font-family: 'Futura PT', 'futura-pt', 'Futura', sans-serif;
}

a {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

iframe {
  height: 100%;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  > footer {
    justify-self: flex-end;
    margin-top: auto;
  }
}
